---
title: Collabor8 App
---

<div class="hero">

</div>

<div class="video-copy-section">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/eD37Le-_rhk?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="copy">
    <%= image_tag 'logo-small.png' %>
    <p>In today’s world, we believe that the most efficient way to have success and find meaning is through the relationships that we build on a daily basis. Using these relationships, we can help each other grow our networks and reach new potential customers. Collabor8 is the single best way to find and cultivate new relationships to enable influencer marketing for both brands and influencers all within a single iPhone app.</p>
    <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
      <%= image_tag 'badge_appstore-lrg.svg' %>
    <% end %>
  </div>
</div>

<div class="brand-influencer-buttons row">
  <div class="brand-button">
    <button>I'm a Brand</button>
  </div>
  <div class="influencer-button">
    <button>I'm an Influencer</button>
  </div>
</div>

<div class="brand-path">
  <div class="why-collabor8 row">
    <div class="copy">
      <h2>Manage All Social Media Collaborations In One Place</h2>
      <p>With Collabor8, you are able to keep all of your collaborations and conversations in 1 app. In the fast-paced digital world we live in, we don’t always have time to sort through emails, texts, web inquiries, DMs, PMs, etc. to find a message from someone. In our app, you can manage collaborations across all communication platforms and never miss anything again.</p>
    </div>
    <div class="image">
      <%= image_tag 'WhyCollabor8-iPhones.png'%>  
    </div>
  </div>
  <div class="brand-success-stories">
    <div>
      <h2>Brands</h2>
      <p>If you are like most of the brands we work with, time is money. Collabor8 helps you find and work with new influencers who are ready to work with you. Using the app lets you communicate directly with the influencers and eliminate the middle man. Our platform was designed by guys who run a brand for a living, so it has been tailored to suit your needs.</p>
      <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
        <%= image_tag 'badge_appstore-lrg.svg' %>
      <% end %>
    </div>
  </div>
  <div class="gold">
    <div>
      <h2>Collabor8 Gold creates the possibility for Brands to search and match with other Brands via the EXPLORE page! </h2><br>
      <div class='row'>
        <div class="text left">
            <%= image_tag 'co-branded-icon.svg' %>
            <h4>Co-Branded giveaways</h4>
        </div>
        <div class="image right">
          <%= image_tag 'arvo-plus-alex.png' %>
        </div>
      </div>
      

      <div class='row'>
        <div class="image left">
          <%= image_tag 'fawn-plus-copper.png' %>
        </div>
        <div class="text right">
          <%= image_tag 'reach-customers-icon.svg' %>
          <h4>Reach new customers who follow similar brands</h4>
        </div>
      </div>
      

      <div class='row'>
        <div class="text left">
          <%= image_tag 'co-branded-icon.svg' %>
          <h4>Associate your brand with others that are aligned with your imagery</h4>
        </div>
        <div class="image right">
          <%= image_tag 'holster-plus-pokee.png' %>
        </div>
      </div>
          
    </div>
  </div>
  <div class="brand-testimonials">
    <div>
      
    </div>
  </div>
</div>

<div class="influencer-path">

</div>
<div class="why-influencer-marketing">
  <div>
    
  </div>
</div>

<div class="collabor8-news">
  <h2>Collabor8 in the news</h2>
  <% link_to 'https://www.forbes.com/sites/cherylsnappconner/2016/05/25/2-new-apps-upitch-and-collabor8-help-entrepreneurs-achieve-better-pr/#dc5c06929cba', target: '_blank' do %>
    <%= image_tag 'forbes-logo.png' %>
  <% end %>
<!--     <% link_to '', target: '_blank' do %>
    <%= image_tag 'fox13-logo.png' %>
  <% end %> -->
</div>

<div class="success-stories">
  
</div>
