---
title: Collabor8 App
---

<div class="hero">
  <%= image_tag 'logo-small.png' %>
  <h3>[Hero Image]</h3>
</div>

<div class="video-copy-section">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/eD37Le-_rhk?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="copy">
    <%= image_tag 'logo-small.png' %>
    <p>In today’s world, we believe that the most efficient way to have success and find meaning is through the relationships that we build on a daily basis. Using these relationships, we can help each other grow our networks and reach new potential customers. Collabor8 is the single best way to find and cultivate new relationships to enable influencer marketing for both brands and influencers all within a single iPhone app.</p>
    <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
      <%= image_tag 'badge_appstore-lrg.svg' %>
    <% end %>
  </div>
</div>

<div class="brand-influencer-buttons row">
  <div class="brand-button">
    <button>I'm a Brand</button>
  </div>
  <div class="influencer-button">
    <button>I'm an Influencer</button>
  </div>
</div>

<div class="brand-path">
  <div class="why-collabor8">
    <div class="copy">
      <h2>Manage All Social Media Collaborations In One Place</h2>
      <p>With Collabor8, you are able to keep all of your collaborations and conversations in 1 app. In the fast-paced digital world we live in, we don’t always have time to sort through emails, texts, web inquiries, DMs, PMs, etc. to find a message from someone. In our app, you can manage collaborations across all communication platforms and never miss anything again.</p>
    </div>
    <div class="image">
      <%= image_tag 'WhyCollabor8-iPhones.png'%>  
    </div>
  </div>
  <div class="brand-success-stories">
    <div>
      <h2>Brands</h2>
      <p>If you are like most of the brands we work with, time is money. Collabor8 helps you find and work with new influencers who are ready to work with you. Using the app lets you communicate directly with the influencers and eliminate the middle man. Our platform was designed by guys who run a brand for a living, so it has been tailored to suit your needs.</p>
      <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
        <%= image_tag 'badge_appstore-lrg.svg' %>
      <% end %>
    </div>
  </div>
  <div class="gold">
    <div>
      <p>Collabor8 Gold creates the possibility for Brands to search and match with other Brands via the EXPLORE page! </p><br>

      <h4>Opportunities with Collabor8 GOLD:</h4>
      <ul>
        <li>Co-Branded giveaways</li>
        <li>Reach new customers who follow similar brands</li>
        <li>Associate your brand with others that are aligned with your imagery
        </li>
      </ul><br>
      <h4>Some examples of co-branded collaborations on Instagram</h4>
      <%= image_tag 'arvo-plus-alex.png' %>
      <%= image_tag 'fawn-plus-copper.png' %>
      <%= image_tag 'holster-plus-pokee.png' %>


      <h4>Payment Details:</h4>
      <ul>
        <li>GOLD membership is $9.99/month and is auto renewed until canceled</li>
        <li>To cancel your membership, navigate to iTunes settings in your phone the same way any other paid application is canceled.</li>
      </ul>


    </div>
  </div>
  <div class="brand-testimonials">
    <div>
      
    </div>
  </div>
  <div class="why-influencer-marketing">
    <div>
      
    </div>
  </div>
</div>

<div class="influencer-path">

</div>
