---
title: Collabor8 App
---

<div class="hero">

</div>

<div class="video-copy-section">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/eD37Le-_rhk?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="copy">
    <%= image_tag 'logo-small.png' %>
    <p>In today’s world, we believe that the most efficient way to have success and find meaning is through the relationships that we build on a daily basis. Using these relationships, we can help each other grow our networks and reach new potential customers. Collabor8 is the single best way to find and cultivate new relationships to enable influencer marketing for both brands and influencers all within a single iPhone app.</p>
    <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
      <%= image_tag 'badge_appstore-lrg.svg' %>
    <% end %>
  </div>
</div>

<div class="brand-influencer-buttons row">
  <div class="brand-button">
    <button>I'm a Brand</button>
  </div>
  <div class="influencer-button">
    <button>I'm an Influencer</button>
  </div>
</div>

<div class="brand-path">
  <div class="why-collabor8 row">
    <div class="copy">
      <h2>Manage All Social Media Collaborations In One Place</h2>
      <p>With Collabor8, you are able to keep all of your collaborations and conversations in 1 app. In the fast-paced digital world we live in, we don’t always have time to sort through emails, texts, web inquiries, DMs, PMs, etc. to find a message from someone. In our app, you can manage collaborations across all communication platforms and never miss anything again.</p>
    </div>
    <div class="image">
      <%= image_tag 'WhyCollabor8-iPhones.png'%>  
    </div>
  </div>
  <div class="brand-success-stories">
    <div>
      <h2>Brands</h2>
      <p>If you are like most of the brands we work with, time is money. Collabor8 helps you find and work with new influencers who are ready to work with you. Using the app lets you communicate directly with the influencers and eliminate the middle man. Our platform was designed by guys who run a brand for a living, so it has been tailored to suit your needs.</p>
      <% link_to 'https://itunes.apple.com/us/app/collabor8-connecting-brands-and-influencers/id1046316949?mt=8', target: '_blank' do %>
        <%= image_tag 'badge_appstore-lrg.svg' %>
      <% end %>
    </div>
  </div>
  <div class="gold">
    <div>
      <h2>Collabor8 Gold creates the possibility for Brands to search and match with other Brands via the EXPLORE page! </h2><br>
      <div class='row'>
        <div class="text left">
            <%= image_tag 'co-branded-icon.svg' %>
            <h4>Co-Branded giveaways</h4>
        </div>
        <div class="image right">
          <%= image_tag 'arvo-plus-alex.png' %>
        </div>
      </div>
      

      <div class='row'>
        <div class="image left">
          <%= image_tag 'fawn-plus-copper.png' %>
        </div>
        <div class="text right">
          <%= image_tag 'reach-customers-icon.svg' %>
          <h4>Reach new customers who follow similar brands</h4>
        </div>
      </div>
      

      <div class='row'>
        <div class="text left">
          <%= image_tag 'co-branded-icon.svg' %>
          <h4>Associate your brand with others that are aligned with your imagery</h4>
        </div>
        <div class="image right">
          <%= image_tag 'holster-plus-pokee.png' %>
        </div>
      </div>
          
    </div>
  </div>
  <div class="brand-testimonials">
    <div class="thread-wallets">
      <p>Collabor8 has helped us connect with influencers we otherwise wouldn't have met. We have been able to track the progress of collaborations better than ever and we've seen an increase in sales because of these connections. Collabor8 is a game-changer for brands and influencers!</p>
    </div>
    <div class="the-little-bookworm">
      <p>I'm loving it! No more messing about networking on IG! And the brands approach ME as opposed to vice versa?! It's excellent, thanks so much for what I'm sure was many days (and nights!) work to get this app off the ground.</p>
    </div>
    <div class="rad-swim">
      <p>We love Collabor8!! It's been working really well for us. Thank you!!!</p>
    </div>
    <div class="wilcox-boots">
      <p>Loving the app! Great concept and design. We collaborated with a guy on there and had the whole deal done in about 5 min!</p>
    </div>
    <div class="arvo">
      <p>Collabor8 has been an integral part of our influencer marketing efforts this past year and has helped us navigate over 200 collaborations! Managing our collaborations within one platform has been a game changer for our small team as we grow. We have recommended this to many other brands and we look forward to what Collabor8 has to offer in upcoming months!  </p>
    </div>
  </div>
</div>

<div class="influencer-path">
  <div class="infuencer-testimonials">
    <div class="ashley-wilson">
      <p>The Collabor8 app was key to taking my Instagram from a hobby to a business. I found companies when I had less than 20k followers to trade images for product. I slowly worked my way up to charging for posts and it was so easy to do with the app! I’ve found people to work through Collabor8 that I’d never would have had the opportunity to work with otherwise. This is my favorite app to recommend to businesses and influencers as an easy way to collaborate.</p>
    </div>
    <div class="dani-marie-krum">
      <p>This app just keeps getting better! Amazing! Seriously, this is genius!</p>
    </div>
  </div>

</div>
<div class="why-influencer-marketing">
  <div>
    
  </div>
</div>

<div class="collabor8-news">
  <h2>Collabor8 in the news</h2>
  <% link_to 'https://www.forbes.com/sites/cherylsnappconner/2016/05/25/2-new-apps-upitch-and-collabor8-help-entrepreneurs-achieve-better-pr/#dc5c06929cba', target: '_blank' do %>
    <%= image_tag 'forbes-logo.png' %>
  <% end %>
<!--     <% link_to '', target: '_blank' do %>
    <%= image_tag 'fox13-logo.png' %>
  <% end %> -->
</div>

<div class="success-stories">
  
</div>
